absl-py
astunparse
beautifulsoup4
bidict
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cvzone
cycler
deepface
Deprecated
dnspython
easyocr
eventlet
filelock
fire
firebase-admin
Flask
Flask-Cors
Flask-SocketIO
flatbuffers
fonttools
fsspec
gast
gcloud
gdown
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
Gunicorn
h11
h5py
httplib2
idna
imageio
imutils
install
itsdangerous
Jinja2
jwcrypto
keras
kiwisolver
lazy_load
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
mpmath
msgpack
mtcnn
networkx
ninja
numpy
oauth2client
oauthlib
opencv-python
opencv-python-headless
opt-einsum
packagin
pandas
Pillow
proto-plus
protobuf
psutil
pure-eval
py-cpuinfo
pyasn1
pyasn1-modules
pyclipper
pycparser
pycryptodome
PyJWT
pyparsing
Pyrebase4
PySocks
python-bidi
python-dateutil
python-engineio
python-jwt
python-socketio
pytz
PyYAML
requests
requests-oauthlib
requests-toolbelt
retina-face
rsa
scikit-image
scipy
seaborn
shapely
simple-websocket
six
soupsieve
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thop
tifffile
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
uritemplate
urllib3
wcwidth
Werkzeug
wrapt
wsproto
Flask
Flask-Cors
numpy
